<h1>Edit Post!</h1>

<form class="" action="/posts/<%=post.id%>?_method=put" method="post">
  <div class="">
    <input type="text" name="post[title]" value="<%= post.title %>" placeholder="Title">
  </div>
  <div class="">
    <input type="text" name="post[price]" value="<%= post.price %>" placeholder="Price">
  </div>
  <div class="">
    <textarea name="post[description]" placeholder="Description"><%= post.description%></textarea>
  </div>
  <div class="">
      <input type="text" name="post[location]" value="<%= post.location %>" placeholder="Location">
  </div>
  <input type="submit">

</form>
