<% layout('layouts/boilerplate') -%>

<h1>Edit Post!</h1>

<form class="" action="/posts/<%=post.id%>?_method=put" method="post" id="postEditForm" enctype="multipart/form-data">
  <div class="">
    <input type="text" name="post[title]" value="<%= post.title %>" placeholder="Title">
  </div>
  <div class="">
    <input type="number" name="post[price]" step=".01" value="<%= post.price %>" placeholder="Price">
  </div>
  <div class="">
    <input type="file" id="imageUpload" name="images" accept= "images/*" multiple>
    <div>
      <% post.images.forEach(function(image, i){ %>
        <img src="<%= image.url %>" alt="" width="150px">
        <label for="image<%=i%>">Delete?</label>
        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%=i%>"
        value="<%=image.public_id%>">
      <%});%>
    </div>
  </div>
  <div class="">
    <textarea name="post[description]" placeholder="Description"><%= post.description%></textarea>
  </div>
  <div class="">
      <input type="text" name="post[location]" value="<%= post.location %>" placeholder="Location">
  </div>
  <input type="submit">

</form>

<script src="/javascripts/post-edit.js"></script>
